<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Certifications</title>
</head>
<body>

    <a href="https://www.credly.com/badges/49fa734a-50e0-4aab-ac30-397080fd0806"><img src="https://images.credly.com/size/340x340/images/be8fcaeb-c769-4858-b567-ffaaa73ce8cf/image.png" /></a><br><br>
    <a href="https://www.credly.com/badges/159ddb98-cb60-4406-9072-dc135cf9909f"><img src="https://images.credly.com/size/340x340/images/08096465-cbfc-4c3e-93e5-93c5aa61f23e/image.png" /></a>
</body>
</html>